<div class="masthead">
  <div class="masthead__inner-wrap">
    <div class="masthead__menu">
      <nav id="site-nav" class="greedy-nav">
        <button><div class="navicon"></div></button>
        <ul class="visible-links">
          <li class="masthead__menu-item masthead__menu-item--lg masthead__menu-home-item"><a href="{{ site.baseurl }}/"><span class="nav-mark">XD</span><span>董旭</span></a></li>
          {% for link in site.data.navigation.main %}
            <li class="masthead__menu-item"><a href="{{ domain }}{{ link.url }}">{{ link.title }}</a></li>
          {% endfor %}
          <li class="masthead__menu-item"><a class="language-link" href="https://dx9824.github.io/XuDong.github.io/">EN</a></li>
          <li class="masthead__menu-item theme-item"><a class="theme-toggle" href="#" role="button" aria-label="切换日间或夜间模式" title="切换日间或夜间模式"><span class="theme-toggle__sun">☀</span><span class="theme-toggle__moon">☾</span></a></li>
        </ul>
        <ul class="hidden-links hidden"></ul>
      </nav>
    </div>
  </div>
</div>
